<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="contractSenderServiceSettings"
		         type="Intelsoft.Niis.Ibd.ContractSenderService.Configuration.ContractSenderServiceConfiguration, Intelsoft.Niis.Ibd.ContractSenderService.Configuration" />

		<section name="connectionStringSettings"
		         type="Intelsoft.Niis.Ibd.Data.Configuration.ConnectionStringsConfiguration, Intelsoft.Niis.Ibd.Data.Configuration" />

		<section name="serilogSettings"
		         type="Intelsoft.Niis.Ibd.Infrastructure.Serilog.Configuration.SerilogConfiguration, Intelsoft.Niis.Ibd.Infrastructure.Serilog.Configuration" />

		<section name="receiveStatusServiceSettings"
		         type="Intelsoft.Niis.Ibd.ReceiveStatusService.Configuration.ReceiveStatusServiceConfiguration, Intelsoft.Niis.Ibd.ReceiveStatusService.Configuration" />
	</configSections>

	<connectionStringSettings configProtectionProvider="RsaProtectedConfigurationProvider">
		<EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
		               xmlns="http://www.w3.org/2001/04/xmlenc#">
			<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
			<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
				<EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
					<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
					<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
						<KeyName>Rsa Key</KeyName>
					</KeyInfo>
					<CipherData>
						<CipherValue>U0k0HtdYILtF5HLpmi6HeQW3FQYlc0ci+ND3IS/k+Xoo3bAkcK/xqq9njW5WinfUU28N66bhyY7GH1/w2Os1kDZIOsm2RjwQ2ISccJVxgkpb+vvZqPBsVX8U/QsFfWEcBZJ8ijAtyvwYdKTtFLVjyA2R01xBODc6be8+FvMsd5TBOY67X7qmwMDh1FHJGmatE9FaV7gVvBq10K/4uZVvTn61PaTQuHKyN+T9ERuOolh2UQHlCoXKbixJMAfPpuqnzYE261frXcst61XsxOjUrCr0oRYzMXSl9cgZDD4xCATpN+PcJLIbTaVmL3pNvXRwDcnE3VkF6HwFpNIVz25wjg==</CipherValue>
					</CipherData>
				</EncryptedKey>
			</KeyInfo>
			<CipherData>
				<CipherValue>3LxSlLe0eDO2hmpqKs+dHGr+KfQudSf++Y+31umPSbG365OvhgnRo3KAa07D5LB/2X0tKCWPFB8m0Nnl7sBUqAk/N1ideZlVydVOaaeXhc5ANNhede6lIKMhh7XmShh6Qq7mbOKtthb9SRuprFiHwTjoGXboXDf4waCi4LHDeal1vS3J6JOt+YEUb8A3+BNpbGl/QT9d+N1zdDOGTAh028yuUlcMz88SStRqJvPhdDsc7NuidUAYMdr5uYgmnB4w</CipherValue>
			</CipherData>
		</EncryptedData>
	</connectionStringSettings>

	<serilogSettings configProtectionProvider="RsaProtectedConfigurationProvider">
		<EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
		 xmlns="http://www.w3.org/2001/04/xmlenc#">
			<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
			<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
				<EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
					<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
					<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
						<KeyName>Rsa Key</KeyName>
					</KeyInfo>
					<CipherData>
						<CipherValue>MV8KBM4nwXplPhEHw4WOePoKP1LHSFx0JoxlQrYyz+p9VWIB9LH4WurJSKW+i9IXuE85xKdmK3yhbd7GYB4+C0tVbhLCA/cc5lb7RZ/LL9oHAFOR5sfpQ/kfallJGBsRfWwZpR2+1p+lv+mByQDWZNjNjcGci+KgdToSGTkYm+wDASNUGQ6AashfWyLNJlodl+yIda55bJK+CFoT83TnlV3laSmQSQK10Z/cIMqUZj19sl5QmoeElCFlHZgM6vILCcooN3csi8us//2Qu5n8KvahTKnHhxUdJq9Sslg0sDORXZ0hh/RHhTAt+6OYjz6g98xQXROSsAyo/V3SthjP0A==</CipherValue>
					</CipherData>
				</EncryptedKey>
			</KeyInfo>
			<CipherData>
				<CipherValue>VGoxcoVHPxEFNjHJpmmK546OLZjc0OHDWk57ZEr4zQA1vWltf6MhwjL0G8d/wksZSUAJB3kFj4Mq6xMgmFZmF2N1UD6RLVPRrbbMnT7EZgk=</CipherValue>
			</CipherData>
		</EncryptedData>
	</serilogSettings>

	<receiveStatusServiceSettings configProtectionProvider="RsaProtectedConfigurationProvider">
		<EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
		 xmlns="http://www.w3.org/2001/04/xmlenc#">
			<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
			<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
				<EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
					<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
					<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
						<KeyName>Rsa Key</KeyName>
					</KeyInfo>
					<CipherData>
						<CipherValue>lIJ07ciz3DXyHRbY6kPV1cjw4U/DcHr7gOKBx+4Goq3twag872DOSTo2ynh309KQ1Tr1iVUVUkIbBF7HzJrf751K7QbrqBMFKPI2mH0vFt+xr7aQPgLszTTmTYh1XWMtsz7R9QDY8OaHeOqdNhfA8qvpQ6QmUwh2EHcxTrsv03AtVtRlxynTU8D0Olyots7IeUP0YSFdmfbWJViAwd+iWhma0BcZjaluGjPouc8v6TP6gG8XkYv06FxWJ1n+4fOSrgHRQY3mMAzUdzvStw/fws/A+iKSoWhGqX4ZXl7G9JavCJhg2Aob6BtqxvOnwnPPWue8dxbQUkRex+jZCcdWPw==</CipherValue>
					</CipherData>
				</EncryptedKey>
			</KeyInfo>
			<CipherData>
				<CipherValue>LzPaYEjCBCceUvGBOJE85DafsaIfXmCjfjFbQNk1RWqJxJKwZFiIfqd7gvyllCw6AkGK7Rcpk5dZOtqwg3muCeiZ0faFkWxGTjmSVuMyTsHtNJThpX855umpcA2AFhImMhFd4VNzy+HiJNlZhYyJLQ==</CipherValue>
			</CipherData>
		</EncryptedData>
	</receiveStatusServiceSettings>

	<contractSenderServiceSettings configProtectionProvider="RsaProtectedConfigurationProvider">
		<EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
		               xmlns="http://www.w3.org/2001/04/xmlenc#">
			<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
			<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
				<EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
					<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
					<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
						<KeyName>Rsa Key</KeyName>
					</KeyInfo>
					<CipherData>
						<CipherValue>lPpnBqeu0A5ziRsJMv/0u35Cx66d2W63FQI9R8oO6hZkrtgHdP3LUYxTb6Hpg2ar50K+Sz55KpoarjFVXuAXCBpinT/HYarjzew0TPaFi4IkOoWl8wnKTphbqoJAs+2DZfEZi2jB4XyyX/2dN4Qh4/UnC8xT1wrdg5q35YPbRM3bSZOl1XFKqEcGmvCdXXbFDDTuFeEXcONTfBzXUKBnOuwJyxHZWQjLayLxs6ek0RlAuvtc9Oi9UZFidr7/GV3RGvN8LybUqYqvaQpWnpFlD0IVgQsqaLgd8qZK7eAvuYi1qbeKSgvcrPLSnvgIdXMLYv4XN7Ja9+i2cK9JhDlddw==</CipherValue>
					</CipherData>
				</EncryptedKey>
			</KeyInfo>
			<CipherData>
				<CipherValue>XVJXPEoaKoQvJGxM2IhV2sxFg7mj4VFs6UfqOE1xuP8D2oxsnorZbgFaGx9EDlWOo+JAu7NVgLjsLWOnzCn623n15xtudWjOCn03TctT4f0vbgTOOV+BMNDkYscReHPNNRcIb2biWYUCJtKfctxnyLF0LYZp03VJyQO9GMR915XYv8T/s7J5nwDF15PpnLarXQXQYsOYsMjprSmRuh6nTzABP0HgXsWLu0AUO6cMWaoy6JrIGWpDE3YOj2d3rUdH4dqiVq6x/ci3ZT/YzLoOdGHFV68gA6tcJE9q4noRnE1Jz0rxmvoxr7rjCb3cCAdnJl9nCQcMg9aMYPi/KMRXH4qPIzyq/1ssPdRMaDron4sRFBoYg6IVDdSnZ3iN5k948rnMUXQF/igoiTeae5zll9+PQcE+i15IXDVPCeEC2OjnWq1z7l7K7L35et+tBFyE7CQNdiRTOEkZH16q+QQ+Qg==</CipherValue>
			</CipherData>
		</EncryptedData>
	</contractSenderServiceSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>