<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="niisIbdSettings" type="Intelsoft.Niis.Ibd.Configuration.NiisIbdSettings, Intelsoft.Niis.Ibd.Configuration" />
	</configSections>
	<niisIbdSettings connectionString ="Server=(local);Database=niis_ibd;Trusted_Connection=True;"
	                 receiveResponseWebAddress="http://localhost:5005/Services/SendMessageResponse.svc"
	                 shepWebAddress="http://10.61.40.133:9010/bip-async"
					 logPath="..\\logs"
	                 fileSizeLimitMBytes ="1024" />
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
</configuration>