<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="contractSenderServiceSettings"
		         type="Intelsoft.Niis.Ibd.ContractSenderService.Configuration.ContractSenderServiceConfiguration, Intelsoft.Niis.Ibd.ContractSenderService.Configuration" />

		<section name="connectionStringSettings"
		         type="Intelsoft.Niis.Ibd.Data.Configuration.ConnectionStringsConfiguration, Intelsoft.Niis.Ibd.Data.Configuration" />

		<section name="serilogSettings"
		         type="Intelsoft.Niis.Ibd.Infrastructure.Serilog.Configuration.SerilogConfiguration, Intelsoft.Niis.Ibd.Infrastructure.Serilog.Configuration" />

		<section name="receiveStatusServiceSettings"
		         type="Intelsoft.Niis.Ibd.ReceiveStatusService.Configuration.ReceiveStatusServiceConfiguration, Intelsoft.Niis.Ibd.ReceiveStatusService.Configuration" />
	</configSections>

	<connectionStringSettings configProtectionProvider="RsaProtectedConfigurationProvider">
		<EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
		               xmlns="http://www.w3.org/2001/04/xmlenc#">
			<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
			<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
				<EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
					<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
					<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
						<KeyName>Rsa Key</KeyName>
					</KeyInfo>
					<CipherData>
						<CipherValue>mhGp/TQ4+7nC291+BJ4zZoqCddUokgEcMaLAr50GhB6pLuaNXANuR3lzwbqYf8QisSlsyDUDbjU9PKBBvou/N1hCi6DdednohLXQU035IoEu+JAp9EkpZGfh2XuSTM20WojoBF8Yy+O9PTW63tO65R+WTILo4jC5RwZKw+CP4tRSmDuR6wFCTA8itePcR2OzOj/p0HxxC9FZRHANMjm0F1bdeO2xo3NJBnn4TwYo82QjMK9/odvII1X3S2mBwpEfiluUanFSJbGs2rj3sUkrkmkYsvm16aIv+V47xZkc9cjb2svqhO7qlSWKpbC3FtfC+6mZaxQU0ov76NeZxK4ZUw==</CipherValue>
					</CipherData>
				</EncryptedKey>
			</KeyInfo>
			<CipherData>
				<CipherValue>py/gY2R1fBW0l1mTeGpF02OhwXMEvMVBlOTNI9+qaJlfu2ji9Z9mFbnN101hGsw/LK3BxrDE5V8kGpBoIiMXMUHcxt7TEXQTINbMey3gUaxkSHrlNnIn0NVj6Y2GzVT+mKeDrkxAC1qXd+q6ka7L4A04BT+TRI8t9u7HkPbj8PBIzsss8kxamqqwwmfR/5UFxbvrBTTOt0FDPFV4MFdGCrWLosQM7GlUqKwHdl3eC6o46LH6iWMYw4abI9roFbNc</CipherValue>
			</CipherData>
		</EncryptedData>
	</connectionStringSettings>

	<serilogSettings configProtectionProvider="RsaProtectedConfigurationProvider">
		<EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
		 xmlns="http://www.w3.org/2001/04/xmlenc#">
			<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
			<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
				<EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
					<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
					<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
						<KeyName>Rsa Key</KeyName>
					</KeyInfo>
					<CipherData>
						<CipherValue>hrmZNWbYCeWSQUYO48ecb3FSj6lDT1cZJOFN5g2MrmpoXkShlkqxOTcOMOEJZq7bFBjLFUCwFJBazB+NZApRn4+YyNjupyct0FR5hhirPqkHf/NYVzFA2xAI2TYphMuyxiF7vMcaF6fKDVB2aMDTfDSzmWK/ATcSGRL000OaUVbns0YZavorErhvFKNImM7lUJe8lEePcjkd0RxMAoXR77/cjnK/DxUty9cn0X2xicN7ir5Q/kiEe4rtiRbBGugLOTPWufVLNYBxykNuDxNbD2tbavLIB+5x7VEcx1GfOumOCCPmeWd+/4pldc5ZycOHslNmRl5CVxwtb9YWTS/RPQ==</CipherValue>
					</CipherData>
				</EncryptedKey>
			</KeyInfo>
			<CipherData>
				<CipherValue>1B636qPVEy7q+TsOdVluPoTpGUUZfvAfuZfpOGkXgSqluigUpDyVtQvv8d4fEgIE5YYsoGdRoST0klaF/Yz3At6qTV04bruYmszUt4gU5Ig=</CipherValue>
			</CipherData>
		</EncryptedData>
	</serilogSettings>

	<receiveStatusServiceSettings configProtectionProvider="RsaProtectedConfigurationProvider">
		<EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
		               xmlns="http://www.w3.org/2001/04/xmlenc#">
			<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
			<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
				<EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
					<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
					<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
						<KeyName>Rsa Key</KeyName>
					</KeyInfo>
					<CipherData>
						<CipherValue>ZPzZuMdl7U02k9cgYUa4GaF1TlMUDw9Lq9wqOgxZq8sINnn7UWoKyuPF5N5cBCHeR97waAj0fUAyfFbhYz/oOACsJRRvF+uanW4BYLNxDsn/2DsDKAFiIOAv6nTBWXSv1meLRfCsVYwUY3NvQ3j4UsBtTnCgidrac85gL+c51tjPGOSCx6H5KWcKKwukDqOhbxjRDiVlQb24FKaASxTkLhk3bNxs35BTE3pkSoZDbXpcPsyhILEBWXRIhPFxsFl82bqpYr/NnHVjV+UlzDrpB8PDmNFN3X3GqIQpgRPfrBEzmrAhziqzQAU5EsGd/liWe5efQC0sZW/uVw9nHSzCyQ==</CipherValue>
					</CipherData>
				</EncryptedKey>
			</KeyInfo>
			<CipherData>
				<CipherValue>uDX/XQXZxhMgCkelWMNYodo3Hf5jKDrUi5jSUVomiybVaYszoLu5yCq12PdAcfxoUn2EsWDoXjtfz3Gu7Hek2tbfHNsOJBc/+TxExqzEzVF9tVdJ4Cw2rS6J/ZDacW1yH5l5j8g6gEquKzzsx8nLJw==</CipherValue>
			</CipherData>
		</EncryptedData>
	</receiveStatusServiceSettings>

	<contractSenderServiceSettings configProtectionProvider="RsaProtectedConfigurationProvider">
		<EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
		 xmlns="http://www.w3.org/2001/04/xmlenc#">
			<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
			<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
				<EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
					<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
					<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
						<KeyName>Rsa Key</KeyName>
					</KeyInfo>
					<CipherData>
						<CipherValue>jYj2zrOV9APWAoZ/M5xy5LGCn9j+HTOSPo8fIT4BVuWDcFGvmtXSCHrNsjysr41zLgl9RRrkkintIl+yPtPz2FyUqDIORZvpjjmwazbzpUJfQzVRcFazOD3TSEuAvKFWWx+5bFYu0HGCsyzGquIIDalq/F54vBhO8UeMjZ17m2/sjlKDKu+huELoYeyf4MEpUUpErQQqTIUa5Med/Zsct2SHstHUxa7P9UEHIrxpatMmlSJkwgEllN+FZ38WdT+OYFBDpVYGNZZm6Wt/Anmtj6TOlOgDmMwhZLI8o6OrCxQxmp21dV6KovXO9a8XQg8JYyiTzSStSFBr1ZRqM+z9wQ==</CipherValue>
					</CipherData>
				</EncryptedKey>
			</KeyInfo>
			<CipherData>
				<CipherValue>gHQv5jmRhaHtr2owLeGhe8wOEm2AKH1LgwCS4+FHpyz17g+H8ak3yul3g0FyggrZIwwqFDEFSCTNc2LQbUKwSQaO1wmTLfo4yWyBlHqxLrdOPwkyQjfGR5sTVEn8J+ZQDYUZ0JSU7O7c21KoAwWy7GBk+XU6li+XO0zTe9Y4fT/XbKmO+7SyTaBudnkghM67Fp9XcWivT/JBi0+3kN+Hv4Vx/ZiWESbNmncgfsYBOGILlqUplRjwE8aveUyrBgrO2GX+cdD+KmCjOBwYILGXwmVyLVi5LLy7ggohowOdlUgVsK0lGICF0eJ8y6GuaCm4+FYlXOhn8Pt42MtMBwE6TQL65BJu0rnJl5JCQu87K6GqYtqbqxbcgdXBuK27yioedC4Y3jfBac0a17Wy/QdsTUegqXaRJJW8gtnG3C+0AMLJA/2nwtL8gQ==</CipherValue>
			</CipherData>
		</EncryptedData>
	</contractSenderServiceSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
</configuration>