<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="contractSenderServiceSettings"
		         type="Intelsoft.Niis.Ibd.ContractSenderService.Configuration.ContractSenderServiceConfiguration, Intelsoft.Niis.Ibd.ContractSenderService.Configuration" />

		<section name="connectionStringSettings"
		         type="Intelsoft.Niis.Ibd.Data.Configuration.ConnectionStringsConfiguration, Intelsoft.Niis.Ibd.Data.Configuration" />

		<section name="serilogSettings"
		         type="Intelsoft.Niis.Ibd.Infrastructure.Serilog.Configuration.SerilogConfiguration, Intelsoft.Niis.Ibd.Infrastructure.Serilog.Configuration" />

		<section name="receiveStatusServiceSettings"
		         type="Intelsoft.Niis.Ibd.ReceiveStatusService.Configuration.ReceiveStatusServiceConfiguration, Intelsoft.Niis.Ibd.ReceiveStatusService.Configuration" />
	</configSections>

	<connectionStringSettings connectionString="Server=192.168.43.2;Database=niis_ibd;User id=sa;Password=asdf-1234;"
							  niisConnectionString="Server=192.168.43.2;Database=dbNiis;User id=sa;Password=asdf-1234;"
	                          useRetryPolicy="False"
	                          maxRetryAttempts="2"
	                          pauseBetweenFailuresInMinutes="3" />

	<serilogSettings logPath="..\\logs"
	                 fileSizeLimitMBytes="1024" />

	<receiveStatusServiceSettings webAddress="http://localhost:5005/Services/SendMessageRequest.svc" />

	<contractSenderServiceSettings shepWebAddress="http://10.61.40.133:9010/bip-async"
	                               serviceId="IbdNiisActual"
	                               senderId="kazpatent"
	                               password="CY}C@ne$Wo"
	                               needToSingXml="False"
	                               edsPath=""
	                               edsPassword=""
	                               useRetryPolicy="False"
	                               maxRetryAttempts="2"
	                               pauseBetweenFailuresInMinutes="3"
	                               pauseBetweenCyclesInMinutes="1" />
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
</configuration>