<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="contractSenderServiceSettings"
		         type="Intelsoft.Niis.Ibd.ContractSenderService.Configuration.ContractSenderServiceConfiguration, Intelsoft.Niis.Ibd.ContractSenderService.Configuration" />

		<section name="connectionStringSettings"
		         type="Intelsoft.Niis.Ibd.Data.Configuration.ConnectionStringsConfiguration, Intelsoft.Niis.Ibd.Data.Configuration" />

		<section name="serilogSettings"
		         type="Intelsoft.Niis.Ibd.Infrastructure.Serilog.Configuration.SerilogConfiguration, Intelsoft.Niis.Ibd.Infrastructure.Serilog.Configuration" />

		<section name="receiveStatusServiceSettings"
		         type="Intelsoft.Niis.Ibd.ReceiveStatusService.Configuration.ReceiveStatusServiceConfiguration, Intelsoft.Niis.Ibd.ReceiveStatusService.Configuration" />
	</configSections>

	<connectionStringSettings configProtectionProvider="RsaProtectedConfigurationProvider">
		<EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
		 xmlns="http://www.w3.org/2001/04/xmlenc#">
			<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
			<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
				<EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
					<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
					<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
						<KeyName>Rsa Key</KeyName>
					</KeyInfo>
					<CipherData>
						<CipherValue>M1q0NhWgABBlU2rAyEiCVEwmYVf88J9KBegszQ4GqM2PWytoykNpeoyp7NfzJzgPM8Y/DevNRJ7hH6B/CG4FZDMIRb3v8TRac9bQoc/il+J3wxk3nF5qkwmqYL3STT2P9oKgp4xPC11KKPvLpjQ73A1o/SsLDPjGPk2t8wzamqfQzqApRD1PYDtXm19pVgQ3mcFRyTntSBMx/RzEotukKljpAvHBaGlMIG1+1KEa7M08NWsdID6QF9nzsI8Uakc+Dz+rxMoh/vX59csXAsqvPHZyW/i7fwcwSP9rOKWlQHhHxT+w2kcGbUc2vxLb3xAg6Ly6G+u1NpcSLoap0i3RZg==</CipherValue>
					</CipherData>
				</EncryptedKey>
			</KeyInfo>
			<CipherData>
				<CipherValue>c9XCYvS+/b1kX8sFVwFctnm4Ko/+vWYu8gjrreZ752c1+hhjSWuXo6YkeGCSR+1nZ9ZgN+WRtwabX3aKfCYuxb6/wV0aZvnq505NAtkW7ua59j8Q0KCSlPxiYQr8t2ymKIgpklYzzDGvXjhId2iGru94N4Y0+Xfu2q1EAciyDmFV4yZFq79LsXJ7oCjwBHWK9slq0hbVxuq4iVAteKge1KvyGrsT1KpbtCSuq1VYlLwOnIw2nhOsBERVl+NEi/7hKRbbdtavlaxbwWuK5MA5dg==</CipherValue>
			</CipherData>
		</EncryptedData>
	</connectionStringSettings>

	<serilogSettings configProtectionProvider="RsaProtectedConfigurationProvider">
		<EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
		 xmlns="http://www.w3.org/2001/04/xmlenc#">
			<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
			<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
				<EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
					<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
					<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
						<KeyName>Rsa Key</KeyName>
					</KeyInfo>
					<CipherData>
						<CipherValue>hrmZNWbYCeWSQUYO48ecb3FSj6lDT1cZJOFN5g2MrmpoXkShlkqxOTcOMOEJZq7bFBjLFUCwFJBazB+NZApRn4+YyNjupyct0FR5hhirPqkHf/NYVzFA2xAI2TYphMuyxiF7vMcaF6fKDVB2aMDTfDSzmWK/ATcSGRL000OaUVbns0YZavorErhvFKNImM7lUJe8lEePcjkd0RxMAoXR77/cjnK/DxUty9cn0X2xicN7ir5Q/kiEe4rtiRbBGugLOTPWufVLNYBxykNuDxNbD2tbavLIB+5x7VEcx1GfOumOCCPmeWd+/4pldc5ZycOHslNmRl5CVxwtb9YWTS/RPQ==</CipherValue>
					</CipherData>
				</EncryptedKey>
			</KeyInfo>
			<CipherData>
				<CipherValue>1B636qPVEy7q+TsOdVluPoTpGUUZfvAfuZfpOGkXgSqluigUpDyVtQvv8d4fEgIE5YYsoGdRoST0klaF/Yz3At6qTV04bruYmszUt4gU5Ig=</CipherValue>
			</CipherData>
		</EncryptedData>
	</serilogSettings>

	<receiveStatusServiceSettings configProtectionProvider="RsaProtectedConfigurationProvider">
		<EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
		 xmlns="http://www.w3.org/2001/04/xmlenc#">
			<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
			<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
				<EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
					<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
					<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
						<KeyName>Rsa Key</KeyName>
					</KeyInfo>
					<CipherData>
						<CipherValue>Yme5AumOKUCbD7iRAd482u1jqtK2u7ovVDxEfJKXAMWi9j9TutTTBg5o810EC27VYe10hUDNYrDNJ4Hv1cjtbekiWL8hKr7iXt8IWq93cV7p3VqAyeixPkauYqWAJQuK7dMYOaYFBP3/f1qb+AVOLUUwoY2IRJziNarZg8n+UPPDe8GvJLgaNd0Mzw4K9ifk8R6kAwq9qwOx4wk9v8BcEVpOfGDOjq44LJn5F+CjtZgtqG3kTeChRfznao41w6WRPzx7NF6YMTcjlz2fJp2QCu75dSpE31HZTmpxN3oUlDzdaKQRKbSUV6npKMAYhvssN5Gw53k/XKAZsOm1aZS9tA==</CipherValue>
					</CipherData>
				</EncryptedKey>
			</KeyInfo>
			<CipherData>
				<CipherValue>P0EyuKhYaWdJ5N4w4v753UJp/64MngdNB96XsiMfpO0MxOlwIUqxcF9+DHriYE7AQOdZxS+GEEiPqMLlhvhAfAzcWH3qsZmde55WTi/nfWb+LKik5sPhBYgeGjfdeqEin3RV5AxsrmwtAfbOh99cdg==</CipherValue>
			</CipherData>
		</EncryptedData>
	</receiveStatusServiceSettings>

	<contractSenderServiceSettings configProtectionProvider="RsaProtectedConfigurationProvider">
		<EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
		 xmlns="http://www.w3.org/2001/04/xmlenc#">
			<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
			<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
				<EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
					<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
					<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
						<KeyName>Rsa Key</KeyName>
					</KeyInfo>
					<CipherData>
						<CipherValue>jYj2zrOV9APWAoZ/M5xy5LGCn9j+HTOSPo8fIT4BVuWDcFGvmtXSCHrNsjysr41zLgl9RRrkkintIl+yPtPz2FyUqDIORZvpjjmwazbzpUJfQzVRcFazOD3TSEuAvKFWWx+5bFYu0HGCsyzGquIIDalq/F54vBhO8UeMjZ17m2/sjlKDKu+huELoYeyf4MEpUUpErQQqTIUa5Med/Zsct2SHstHUxa7P9UEHIrxpatMmlSJkwgEllN+FZ38WdT+OYFBDpVYGNZZm6Wt/Anmtj6TOlOgDmMwhZLI8o6OrCxQxmp21dV6KovXO9a8XQg8JYyiTzSStSFBr1ZRqM+z9wQ==</CipherValue>
					</CipherData>
				</EncryptedKey>
			</KeyInfo>
			<CipherData>
				<CipherValue>gHQv5jmRhaHtr2owLeGhe8wOEm2AKH1LgwCS4+FHpyz17g+H8ak3yul3g0FyggrZIwwqFDEFSCTNc2LQbUKwSQaO1wmTLfo4yWyBlHqxLrdOPwkyQjfGR5sTVEn8J+ZQDYUZ0JSU7O7c21KoAwWy7GBk+XU6li+XO0zTe9Y4fT/XbKmO+7SyTaBudnkghM67Fp9XcWivT/JBi0+3kN+Hv4Vx/ZiWESbNmncgfsYBOGILlqUplRjwE8aveUyrBgrO2GX+cdD+KmCjOBwYILGXwmVyLVi5LLy7ggohowOdlUgVsK0lGICF0eJ8y6GuaCm4+FYlXOhn8Pt42MtMBwE6TQL65BJu0rnJl5JCQu87K6GqYtqbqxbcgdXBuK27yioedC4Y3jfBac0a17Wy/QdsTUegqXaRJJW8gtnG3C+0AMLJA/2nwtL8gQ==</CipherValue>
			</CipherData>
		</EncryptedData>
	</contractSenderServiceSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
</configuration>