<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="niisIbdSettings" type="Intelsoft.Niis.Ibd.Configuration.NiisIbdSettings, Intelsoft.Niis.Ibd.Configuration" />
	</configSections>

	<niisIbdSettings connectionString="Server=(local);Database=niis_ibd;User Id=sa;Password=asdf-1234;" shepWebAddress="http://10.61.40.133:9010/bip-async" logPath="..\\logs" fileSizeLimitMBytes="1024" />

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>

	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Error" />
			<source name="System.ServiceModel.MessageLogging" switchValue="Error" />
			<source name="System.Runtime.Serialization" switchValue="Error" />
			<source name="ErrorHandlerTrace" switchValue="Error" />
		</sources>
		<sharedListeners>
			<add name="xml" type="System.Diagnostics.XmlWriterTraceListener" traceOutputOptions="LogicalOperationStack" initializeData=".\log\WCFTrace.svclog" />
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding transactionFlow="true" />
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment>
			<serviceActivations>
				<add service="Intelsoft.Niis.Ibd.ReceiveStatusService.Implementation.ReceiveStatusService, Intelsoft.Niis.Ibd.ReceiveStatusService.Implementation" relativeAddress="SendMessageResponse.svc" factory="Autofac.Integration.Wcf.AutofacServiceHostFactory, Autofac.Integration.Wcf" />
			</serviceActivations>
		</serviceHostingEnvironment>
	</system.serviceModel>

	<runtime>

		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<dependentAssembly>

				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />

			</dependentAssembly>

		</assemblyBinding>

	</runtime>
</configuration>
